In [89]:
import pandas as pd
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import seaborn as sb
import numpy as np

In [90]:
default_data = pd.read_csv("data.csv")

In [91]:
default_data.rename(columns={'Est. Average Daily Occupancy (Continuous Basis)':'Daily_Occupancy'},
inplace=True)

In [92]:
default_data

,Building Name,Typology,Sub-Type,GFA,Daily_Occupancy,Audit 1,Audit 2,Audit 3,Audit 4,Audit 5,audit_avg
0,B1326P,Industrial,Manufacturing,18475,294,1300,1251,1255,1001,1213,"1,204"
1,B1837A,Educational,Nurseries,6542,292,538,720,644,701,973,715
2,B1124S,Residential,Landed Property,2901,6,12,14,13,14,15,14
3,B1417R,Institutional,Fire Station,10249,190,206,243,266,326,383,285
4,B1148A,Storage,Garage,126546,318,983,965,929,887,1282,"1,009"
...,...,...,...,...,...,...,...,...,...,...,...
435,BO00733E,Commercial,Retail Mixed,"22,253","3,200","1,200",450,"1,480","2,150",750,"1,206"
436,BO00773C,Commercial,Retail Mixed,"12,150","2,154",650,830,0,950,310,548
437,BO0134N,Commercial,Retail Non-Food,"11,550",750,120,135,0,0,60,63
438,BO0143E,Commercial,Office,"7,500",165,40,25,45,0,0,22
439,BY1343F,Commercial,Office,"4,000",80,40,35,28,15,17,27

In [93]:
def convertint(x):
    x=int(x.replace(',', ''))
    return x

In [94]:
default_data['Waste_amount'] = default_data['audit_avg'].apply(convertint)

In [95]:
default_data['GFA'] = default_data['GFA'].apply(convertint)

In [96]:
default_data['Daily_Occupancy'] = default_data['Daily_Occupancy'].apply(convertint)

In [97]:
default_data

,Building Name,Typology,Sub-Type,GFA,Daily_Occupancy,Audit 1,Audit 2,Audit 3,Audit 4,Audit 5,audit_avg,Waste_amount
0,B1326P,Industrial,Manufacturing,18475,294,1300,1251,1255,1001,1213,"1,204",1204
1,B1837A,Educational,Nurseries,6542,292,538,720,644,701,973,715,715
2,B1124S,Residential,Landed Property,2901,6,12,14,13,14,15,14,14
3,B1417R,Institutional,Fire Station,10249,190,206,243,266,326,383,285,285
4,B1148A,Storage,Garage,126546,318,983,965,929,887,1282,"1,009",1009
...,...,...,...,...,...,...,...,...,...,...,...,...
435,BO00733E,Commercial,Retail Mixed,22253,3200,"1,200",450,"1,480","2,150",750,"1,206",1206
436,BO00773C,Commercial,Retail Mixed,12150,2154,650,830,0,950,310,548,548
437,BO0134N,Commercial,Retail Non-Food,11550,750,120,135,0,0,60,63,63
438,BO0143E,Commercial,Office,7500,165,40,25,45,0,0,22,22
439,BY1343F,Commercial,Office,4000,80,40,35,28,15,17,27,27

In [98]:
def typegroup(x):
    if x == "Residential":
        y=2
    elif x == "Commercial":
        y=1
    elif x == "Industrial":
        y=5
    elif x == "Institutional":
        y=4
    elif x == "Educational":
        y=3
    elif x == "Storage":
        y=6
    return y

In [99]:
default_data['Typology Group'] = default_data['Typology'].apply(typegroup)

In [100]:
default_data

,Building Name,Typology,Sub-Type,GFA,Daily_Occupancy,Audit 1,Audit 2,Audit 3,Audit 4,Audit 5,audit_avg,Waste_amount,Typology Group
0,B1326P,Industrial,Manufacturing,18475,294,1300,1251,1255,1001,1213,"1,204",1204,5
1,B1837A,Educational,Nurseries,6542,292,538,720,644,701,973,715,715,3
2,B1124S,Residential,Landed Property,2901,6,12,14,13,14,15,14,14,2
3,B1417R,Institutional,Fire Station,10249,190,206,243,266,326,383,285,285,4
4,B1148A,Storage,Garage,126546,318,983,965,929,887,1282,"1,009",1009,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
435,BO00733E,Commercial,Retail Mixed,22253,3200,"1,200",450,"1,480","2,150",750,"1,206",1206,1
436,BO00773C,Commercial,Retail Mixed,12150,2154,650,830,0,950,310,548,548,1
437,BO0134N,Commercial,Retail Non-Food,11550,750,120,135,0,0,60,63,63,1
438,BO0143E,Commercial,Office,7500,165,40,25,45,0,0,22,22,1
439,BY1343F,Commercial,Office,4000,80,40,35,28,15,17,27,27,1

In [101]:
def subtypegroup(x):
    if x =='Apartment':
        y=5
    elif x =='Landed Property':
        y=4
    elif x =='Retail Mixed':
        y=1
    elif x =='Retail Non-Food':
        y=3
    elif x =='Office':
        y=2
    elif x =='Data Center':
        y=13
    elif x =='Manufacturing':
        y=12
    elif x =='Airport':
        y=9
    elif x =='Police Station':
        y=10
    elif x =='Fire Station':
        y=11
    elif x =='Nurseries':
        y=7
    elif x =='University':
        y=6
    elif x =='Student residences':
        y=8
    elif x =='Warehouse':
        y=14
    elif x =='Garage':
        y=15
    return y

In [102]:
default_data['Sub-Type Group'] = default_data['Sub-Type'].apply(subtypegroup)

In [103]:
default_data

,Building Name,Typology,Sub-Type,GFA,Daily_Occupancy,Audit 1,Audit 2,Audit 3,Audit 4,Audit 5,audit_avg,Waste_amount,Typology Group,Sub-Type Group
0,B1326P,Industrial,Manufacturing,18475,294,1300,1251,1255,1001,1213,"1,204",1204,5,12
1,B1837A,Educational,Nurseries,6542,292,538,720,644,701,973,715,715,3,7
2,B1124S,Residential,Landed Property,2901,6,12,14,13,14,15,14,14,2,4
3,B1417R,Institutional,Fire Station,10249,190,206,243,266,326,383,285,285,4,11
4,B1148A,Storage,Garage,126546,318,983,965,929,887,1282,"1,009",1009,6,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
435,BO00733E,Commercial,Retail Mixed,22253,3200,"1,200",450,"1,480","2,150",750,"1,206",1206,1,1
436,BO00773C,Commercial,Retail Mixed,12150,2154,650,830,0,950,310,548,548,1,1
437,BO0134N,Commercial,Retail Non-Food,11550,750,120,135,0,0,60,63,63,1,3
438,BO0143E,Commercial,Office,7500,165,40,25,45,0,0,22,22,1,2
439,BY1343F,Commercial,Office,4000,80,40,35,28,15,17,27,27,1,2

In [104]:
def wastegroup(x):
    if x<500:
        y="Lowest Waste Production (<500KG)"
    elif x>=500 and x<1000:
        y="Low Waste Production (500-1000KG)"
    elif x>=1000 and x<1500:
        y="Moderate Waste Production (1000-1500KG)"
    elif x>=1500 and x<2000:
        y="Moderately High Waste Production (1500-2000KG)"
    elif x>=2000 and x<2500:
        y="High Waste Production (2000-2500KG)"
    elif x>=2500 and x<3000:
        y="Higher Waste Production (2500-3000KG)"
    elif x>=3000:
        y="Highest Waste Production (>3500KG)"
    return y

In [105]:
default_data['Waste Production Category'] = default_data['Waste_amount'].apply(wastegroup)

In [106]:
default_data

,Building Name,Typology,Sub-Type,GFA,Daily_Occupancy,Audit 1,Audit 2,Audit 3,Audit 4,Audit 5,audit_avg,Waste_amount,Typology Group,Sub-Type Group,Waste Production Category
0,B1326P,Industrial,Manufacturing,18475,294,1300,1251,1255,1001,1213,"1,204",1204,5,12,Moderate Waste Production (1000-1500KG)
1,B1837A,Educational,Nurseries,6542,292,538,720,644,701,973,715,715,3,7,Low Waste Production (500-1000KG)
2,B1124S,Residential,Landed Property,2901,6,12,14,13,14,15,14,14,2,4,Lowest Waste Production (<500KG)
3,B1417R,Institutional,Fire Station,10249,190,206,243,266,326,383,285,285,4,11,Lowest Waste Production (<500KG)
4,B1148A,Storage,Garage,126546,318,983,965,929,887,1282,"1,009",1009,6,15,Moderate Waste Production (1000-1500KG)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
435,BO00733E,Commercial,Retail Mixed,22253,3200,"1,200",450,"1,480","2,150",750,"1,206",1206,1,1,Moderate Waste Production (1000-1500KG)
436,BO00773C,Commercial,Retail Mixed,12150,2154,650,830,0,950,310,548,548,1,1,Low Waste Production (500-1000KG)
437,BO0134N,Commercial,Retail Non-Food,11550,750,120,135,0,0,60,63,63,1,3,Lowest Waste Production (<500KG)
438,BO0143E,Commercial,Office,7500,165,40,25,45,0,0,22,22,1,2,Lowest Waste Production (<500KG)
439,BY1343F,Commercial,Office,4000,80,40,35,28,15,17,27,27,1,2,Lowest Waste Production (<500KG)

In [111]:
# Import essential models and functions from sklearn
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix

# Extract Response and Predictors
predictors = ["Typology Group", "Sub-Type Group", "GFA", "Daily_Occupancy"]

y = pd.DataFrame(default_data['Waste Production Category'])
X = pd.DataFrame(default_data[predictors]) 

# Split the Dataset into Train and Test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25)

# Decision Tree using Train Data
dectree = DecisionTreeClassifier(max_depth = 3)  # create the decision tree object
dectree.fit(X_train, y_train)                    # train the decision tree model

# Predict Response corresponding to Predictors
y_train_pred = dectree.predict(X_train)

In [112]:
import pickle 
pickle_out = open("classifier2.pkl", mode = "wb") 
pickle.dump(dectree, pickle_out) 
pickle_out.close()